<div class="container">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mt-5">
			<li class=" breadcrumb-item active  " aria-current="page"><a class="bi bi-house-door-fill" routerLink="/home" routerLinkActive="active">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Statement</li>
		</ol>
	</nav>



	<h1 class="statement d-flex justify-content-center mb-3" >Declaración de artista </h1>
	<div class="p-3"> </div>
	<div class="d-flex justify-content-center mb-3">

		<iframe  class="d-block w-100" width="574" height="400" src="https://www.youtube.com/embed/t9jECTCPjNA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
	</div>

	<div class="declaration row col-sm ">
		<h2>Declaración de artista. </h2>
		<p>El interés que tengo en el tema de ciudad nace como una excusa por un interés en lo humano, como un espacio que nos habita y la habitamos, presenta una dinámica  compleja de relaciones y efectos, tanto en lo que observo como lo que vivo, que encuentro siempre variada, interesante y enriquecedor en puntos de vista pues de mano de referentes antropológicos y sociológicos, tanto lecturas como conversaciones, permiten alimentar una necesidad por tratar de entender,  desenmarañar  y expresar diferentes perspectivas que encuentro o me encuentran. <br>
			Siempre siento esta investigación como un recorrido, una narración tanto de vida y obra, en la cual siempre estoy arribando a diferentes puertos dependiendo de lo que atrape mi interés y donde está la emoción. 
		</p>
		</div>

</div>
