.statement{
		color: white; 
		
		font-size: 44px;
		}

.declaration {

	padding: 30px;
	color: white;
	text-shadow: 2px 2px 20px #b3b3cb;
	font-size: 18px;
	background-color: rgb(64, 64, 94, 0.2);
	line-height: 1.3;
}

li.breadcrumb-item {
	color: #000000;
}