	<div class="container">
		<div class="flex-sm-row">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mt-5">
					<li class="breadcrumb-item active" aria-current="page"><a class="bi bi-house-door-fill"> Home</a></li>
				</ol>
			</nav>
		</div>
        
		<!-- <div class="row">
			<div class="col">
				<h1>Welcome to the Angular Sketchpad!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p>Click in the space below to draw with your mouse.</p>
				<p>Type "c" on your keyboard to clear the screen.</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="sketch-container">
					<div id="sketch-holder"></div>
				</div>
			</div>
		</div> -->

	</div>
	
