.carousel-control-prev,.carousel-control-next {
			height: 20%;
			color: #000000;
			opacity: .5;
			margin: 0;
			position: absolute;
			top: 30%;
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			
		} 
		
	.carousel-control-prev-icon, .carousel-control-next-icon {
		background-color: #336699;

		width: 40%;
		height: 40%;
	}

	
		h1{
			font-size: 44px;
			text-align: center;
			color: #ffffff;
		}


li.breadcrumb-item {
	color: #000000;
}

		/*tr:hover> td ,  tr:hover>th:first-child{
			color: rgb(77, 77, 77);
			background-color: rgb(204, 255, 221);
			border: 2px outset;
		}

		* {
			box-sizing: border-box;
		}

		.row > .col {
			padding: 10px;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}*/
		
		.text1{
			
			color: #ffffffff;
			text-shadow: 2px 2px 20px #b3b3cb;
			font-family: Helvetica, sans-serif;
			padding: 30px;
			background-color: rgb(64, 64, 94, 0.2);
			font-size: 18px;
			line-height: 1.5;
			
		}

		/* The Modal (background) 
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			padding-top: 100px;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: black;
		}*/

		/* Modal Content 
		.modal-content {
			position: relative;
			background-color: black;
			margin: auto;
			padding: 0;
			width: 90%;
			max-width: 1200px;
		}*/

		/* The Close Button 
			color:  #1aff1a;
			
			top: 0px;
			right: 25px;
			font-size: 35px;
			font-weight: bold;
		}
		.close {

		.close:hover,
		.close:focus {
			color: #ffffff;
			text-decoration: none;
			cursor: pointer;
		}

		.mySlides {
			display: none;
		}

		.cursor {
			cursor: pointer;
		}

		 Next & previous buttons 
		.prev,
		.next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin: -50px 60px 0px 60px ;
			color: #1aff1a;
			font-weight: bold;
			font-size: 40px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
			-webkit-user-select: none;
		}*/

		/* Position the "next button" to the right 
		.next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}*/

		/* On hover, add a black background color with a little bit see-through 
		.prev:hover,
		.next:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}*/

		/* Number text (1/3 etc) 
		.numbertext {
			background-color: #000000;
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}

		.modal img {

			margin-bottom: -4px;
			
		}

		.caption-container {
			text-align: center;
			background-color: black;
			padding: 2px 16px;
			color: white;
		}*/

		/*.demo {
			opacity: 0.3;
		}

		.active,
		.demo:hover {
			opacity: 1;
		}

		img.hover-shadow {
			transition: 0.3s;
		}

		.hover-shadow:hover {
			box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 12px 40px 0 rgba(255, 255, 255, 0.19);
		}

		.row-header{
			margin:0px auto;
			padding:0px;

		}

		.row-content {
			margin:5px auto;
			padding: 50px 0px 50px 0px;
			border-bottom: 1px ridge;
			min-height:400px;
		}*/

		.blockquote-footer {
			color: #000000;
		}
		