		

	<div class="container">
		<div class="flex-sm-row">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mt-5">
					<li class="breadcrumb-item active " aria-current="page"><a class="bi bi-house-door-fill" routerLink="/home" routerLinkActive="active">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Video</li>
				</ol>
			</nav>
		</div>
		<h1 >VideoArte</h1>
		<div class="p-3"> </div>
				<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
					<div class=" carousel-inner">
						<div class="carousel-item active">
							<iframe src="https://player.vimeo.com/video/131448266" class="hover-shadow d-block w-100" width="500" height="400" frameborder="0" allow="autoplay; fullscreen" allowfullscreen	 ></iframe>
							<div class="carousel-caption d-none d-md-block">
								
								<figcaption class="blockquote-footer">  Manuel delgado, <cite title="Source Title"> el animal público.  editorial  anagrama Barcelona. pág.23.</cite></figcaption>
							</div>
							<p class="text1 text-sm mt-3"> “Una ciudad que cambia de hora en hora, de minuto en minuto, hecha de  imágenes, de sensaciones, de impulsos mentales una ciudad cuya contemplación nos colocaría en el umbral mismo de una estética del suceso. Solidificaciones inmediatas que discurren de hora en hora y de por vida aquí y allá entre individuo e individuo”. </p>
						</div>
						<div class="carousel-item">
							<iframe src="https://player.vimeo.com/video/131716632"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="hover-shadow  d-block w-100" width="500" height="400"  ></iframe>
							<div class="carousel-caption d-none d-md-block">
								
							</div>
							<p class="text1 text-sm mt-3">Los lugares han quedado ocultos tras sus falsas fachadas, las calles de la ciudad se han vuelto invisibles detrás de los grandes carteles que contienen sus nombres, auténticos edificios que definen la textura urbana de la ciudad contemporánea. Una calle ya no es una hilera de construcciones, es un sinnúmero de letreros luminosos o reflectantes, de semáforos y relojes gigantescos, de spots y de guiños, de flechas y carteles, que por más que contengan información alfabética, se han convertido en imágenes, en objetos para ser admirados; desaparición de la ciudad real, de la ciudad como espacio público, convertida hoy en cartel publicitario: imágenes públicas, espacios-imagen que anulan nuestra memoria del pasado. Las imágenes terminan por sustituir las cosas, ya no hay un mundo tras las imágenes, sino que el propio mundo es su imagen.</p>
						</div>
						<div class="carousel-item">
							<iframe src="https://player.vimeo.com/video/131718844"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen class="hover-shadow  d-block w-100"width="500" height="400"  ></iframe> 
							<div class="carousel-caption d-none d-md-block">
								
								<figcaption class="blockquote-footer">  Manuel delgado, <cite title="Source Title"> el animal público.  editorial  anagrama Barcelona. pág.23.</cite></figcaption>
							</div>
							<p class="text1 text-sm mt-3">“La ciudad no es lo urbano. La ciudad es una composición espacial definida por la alta densidad poblacional y el asentamiento de un amplio conjunto de construcciones estables. Una colonia humana densa y heterogénea conformada esencialmente por extraños entre sí. Remite  la ciudad en términos de tiempo largo: grandes configuraciones con una duración calculable en décadas  o en siglos"</p> 
						</div>
						<div class="carousel-item">
							<iframe src="https://player.vimeo.com/video/133483202" frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow d-block w-100"></iframe> 
							<div class="carousel-caption d-none d-md-block">
								
							</div>
							<p class="text1 text-sm mt-3">la obra retrata una mirada  donde se recogen imágenes de aquella parte marginada de la ciudad. Es lo que encontramos y rechazamos a diario cuando nos enfrentamos a ella pero que inevitablemente nos recuerdan aspectos sociales precarios</p>
						</div>
						<div class="carousel-item">
							<iframe src="https://player.vimeo.com/video/133462841"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow d-block w-100"></iframe>
							<div class="carousel-caption d-none d-md-block">
								<p class="text1 text-sm mt-3"></p>
							</div>
						</div>
						<div class="carousel-item">
							<iframe src="https://player.vimeo.com/video/133464249"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow  d-block w-100"></iframe>
							<div class="carousel-caption d-none d-md-block">
								<p class="text1 text-sm mt-3"></p>
							</div>
						</div>
					</div>
				<!--</div>
			</div> -->

					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>

		
	</div>

				  <!-- <div class="mySlides">
						<div class="numbertext">1 / 6</div>
						<div class="gallery">
							<iframe src="https://player.vimeo.com/video/131448266" width="500" height="400" frameborder="0" allow="autoplay; fullscreen" allowfullscreen	 class="hover-shadow cursor rounded mx-auto d-block"></iframe>
							<p class="text1 text-sm mt-3"> “Una ciudad que cambia de hora en hora, de minuto en minuto, hecha de  imágenes, de sensaciones, de impulsos mentales una ciudad cuya contemplación nos colocaría en el umbral mismo de una estética del suceso. Solidificaciones inmediatas que discurren de hora en hora y de por vida aquí y allá entre individuo e individuo”. </p>
							<figcaption class="blockquote-footer">  Manuel delgado, <cite title="Source Title"> el animal público.  editorial  anagrama Barcelona. pág.23.</cite></figcaption>

						</div>
					</div>

					<div class="mySlides">
						<div class="numbertext">2 / 6</div>
						<div class="gallery">
							<iframe src="https://player.vimeo.com/video/131716632"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow cursor rounded mx-auto d-block"></iframe>
							<p class="text1 text-sm mt-3">Los lugares han quedado ocultos tras sus falsas fachadas, las calles de la ciudad se han vuelto invisibles detrás de los grandes carteles que contienen sus nombres, auténticos edificios que definen la textura urbana de la ciudad contemporánea. Una calle ya no es una hilera de construcciones, es un sinnúmero de letreros luminosos o reflectantes, de semáforos y relojes gigantescos, de spots y de guiños, de flechas y carteles, que por más que contengan información alfabética, se han convertido en imágenes, en objetos para ser admirados; desaparición de la ciudad real, de la ciudad como espacio público, convertida hoy en cartel publicitario: imágenes públicas, espacios-imagen que anulan nuestra memoria del pasado. Las imágenes terminan por sustituir las cosas, ya no hay un mundo tras las imágenes, sino que el propio mundo es su imagen.</p>
						</div>
					</div>


					<div class="mySlides">
						<div class="numbertext">3 / 6</div>
						<div class="gallery">
							<iframe src="https://player.vimeo.com/video/131718844"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow cursor rounded mx-auto d-block"></iframe> 
							<p class="text1 text-sm mt-3">“La ciudad no es lo urbano. La ciudad es una composición espacial definida por la alta densidad poblacional y el asentamiento de un amplio conjunto de construcciones estables. Una colonia humana densa y heterogénea conformada esencialmente por extraños entre sí. Remite  la ciudad en términos de tiempo largo: grandes configuraciones con una duración calculable en décadas  o en siglos"</p> 
							<figcaption class="blockquote-footer">  Manuel delgado, <cite title="Source Title"> el animal público.  editorial  anagrama Barcelona. pág.23.</cite></figcaption>
						</div>
					</div>
					<div class="mySlides">
						<div class="numbertext">4 / 6</div>
						<div class="gallery">
							<iframe src="https://player.vimeo.com/video/133483202" frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow cursor rounded mx-auto d-block"></iframe> 
							<p class="text1 text-sm mt-3">la obra retrata una mirada  donde se recogen imágenes de aquella parte marginada de la ciudad. Es lo que encontramos y rechazamos a diario cuando nos enfrentamos a ella pero que inevitablemente nos recuerdan aspectos sociales precarios</p>
						</div>
					</div>

					<div class="mySlides">
						<div class="numbertext">5 / 6</div>
						<div class="gallery">
							<iframe src="https://player.vimeo.com/video/133462841"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow cursor rounded mx-auto d-block"></iframe>
							<p class="text1 text-sm mt-3"></p>
						</div>
					</div>
					<div class="mySlides">
						<div class="numbertext">6 / 6</div>
						<div class="gallery">
							<iframe src="https://player.vimeo.com/video/133464249"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen width="500" height="400"  class="hover-shadow cursor rounded mx-auto d-block"></iframe>
							<p class="text1 text-sm mt-3"></p>
						</div>
					</div>
					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a> -->
			
	


