
	footer {

		padding: 10px 10px 0 10px;
		background-color: rgb(0, 26, 9, 0.2);
		font-family: Helvetica, sans-serif;

	}
	address {
		color: #ffffff;
	}
	address .footer-address-icon {
		padding-right: 15px; 

	}

a {
	color: #01144b;
	font-size: 18px;
	line-height: 1.8;
}