 <footer>
 	<div class="d-flex row flex-wrap align-items-center ">
 		<div class="col-sm-4 d-flex flex-column mb-3">
 			<a href="https://www.facebook.com/">
 				<span class="footer-address-icon"><i class="fab fa-facebook mr-2"></i></span>Facebook</a>
 				<a href="https://www.instagram.com.com/">
 					<span class="footer-address-icon"><i class="fab fa-instagram mr-2"></i></span>Instagram</a>
 					<a href="http://www.linkedin.com/in/">
 						<span class="footer-address-icon"><i class="fab fa-linkedin mr-2"></i></span>Linkedin</a>
 					</div>


 					<div class="col-sm-4 mb-3">
 						<address>
 							<h5 style="text-align: left;">Oficina central</h5>
 							<p><span> <i class="fal fa-home"></i></span> </p>
 							<p><span>  <i class="far fa-phone-square"></i></span> (057+) 3146731581</p>
 							<p> <span> <i class="fad fa-envelope-square"></i></span> remiendotrece2@gmail.com</p>
 						</address>
 					</div>


 					<div class="col-sm-4 d-flex flex-column align-items-end">
 						<a href="https://www.facebook.com/">Nosotros</a>
 						<a href="https://www.instagram.com.com/">Precios</a>
 						<a href="https://www.twitter.com/">Terminos y condiciones</a>
 						<a href="https://www.facebook.com/">Contacto</a>
 					</div>


 				</div> 
 			</footer>