

img{
	margin: 10px;
}
img:hover {
	box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2), 0 12px 40px 0 rgba(255, 255, 255, 0.19);
	margin-bottom : 20px;
}


li.breadcrumb-item {
	color: #000000;
}
h1{
	color: white; 
	
	font-size: 44px;
	text-align: center;
}
	