	<div class="container align-content-center">
		<div class="flex-sm-row">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mt-5">
					<li class="breadcrumb-item active  " aria-current="page"><a class="bi bi-house-door-fill"routerLink="/home" routerLinkActive="active">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Fotografía</li>
				</ol>
			</nav>
		</div>
		<h1>Fotografía</h1>
		<div class="p-3"> </div>

		
		<div class="row justify-content-center">
			<div class=" col-10 " >
				<figure class="figure" *ngFor= "let ficha of fichas"
				[routerLink] = "['/fichadetalle', ficha.id]">
				<img src= "{{ ficha.image }}" class="figure-img img-fluid rounded img-thumbnail" alt={{ficha.titulo}} style="height:100px">

			</figure>

		</div>
	</div>

	
</div>





			<!-- <div class="flex-sm-row mt-3 ">
				<span *ngFor= "let ficha of fichas"> <img src={{ficha.image}} class="rounded float-start" alt={{ficha.titulo}} style="width:150px"> 
            		<h3> {{ficha.titulo}} </h3>
            	</span>
				<div id="carouselExampleControls" class="carousel slide carousel-fade row align-items-center mt-3" data-ride="false" >
					<div class="carousel-inner text-center ">
						<div class="carousel-item active " *ngFor= "let ficha of fichas">
							<img src={{ficha.image}}  alt={{ficha.titulo}}>
						</div>

					</div>
				
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div> -->
			
			
			

			