
.declaration {
	color: #000000;
	text-shadow: 2px 2px 20px #666699;
	font-family: Helvetica, sans-serif;
	text-align: justify;
	font-size: 18px;
	padding: 10px;
}

figcaption {
	color:#595959;
	background-color: rgb(64, 64, 94, 0.1);
	margin-top: 10px;
}

.comentarios{
	float: right;
}

.btn {
	margin-top: 10px;
	
	text-align: center;
}

label {
	font-size: 18px;
	color: #cccccc;
}
.comentario {
	font-size: 14px;
	color: #666666;
}
form {
	padding: 30px;
	background-color: rgb(64, 64, 94, 0.2);
}

