			
<div class="container" >
	<div class ="card" >
		<div class="card-body " >
			<div class="row align-items-center text-center ">
				<div class="col-sm ">
					<button type="button" class="btn btn-secondary btn-lg"  [routerLink] = "['/fichadetalle', prev]"><i class="fas fa-arrow-left"></i> </button> 
				</div>
				<div class=" col-sm-6">
					<img src= "{{  ficha.image }}" class="card-img-bottom"  alt={{ficha.titulo}} >
				</div>
				<div class="col-sm ">
					<button type="button" class="btn btn-secondary btn-lg" [routerLink] = "['/fichadetalle', next]"><i class="fas fa-arrow-right"></i> </button>
				</div>
			</div>
	
				<h2 class="card-title text-center" *ngIf="ficha">
					<figcaption class="figure-caption">

						<dl class="list-inline">
							<dt class="list-inline-item">{{ficha.titulo | uppercase}} , </dt>
							<dt class="list-inline-item" >{{ficha.tecnica}} </dt>
							<dt class="list-inline-item">{{ficha.ano}} </dt>
						</dl>  

					</figcaption>
				</h2>
			
			<dl *ngIf="comentarioform.valid">
				<dt ><p><span> {{CommentForm.get('comment').value}}</span>{{'comentario' | uppercase }}</p>  </dt>
				<dt ><p>{{ comentarioForm.get('estrellas').value }} {{'Estrellas'}}</p></dt>
				<dt><p>{{ comentarioForm.get('opinion').value}}</p> </dt>
				<dt><p>{{'--'}}{{ comentarioForm.get('autor').value}} {{comentarioForm.get('fecha') | date }}</p></dt>

			</dl>  			


			<p class=" declaration card-text mb-5">
			El interés que tengo en el tema de ciudad nace como una excusa por un interés en lo humano, como un espacio que nos habita y la habitamos, presenta una dinámica  compleja de relaciones y efectos, tanto en lo que observo como lo que vivo, que encuentro siempre variada, interesante y enriquecedor en puntos de vista pues de mano de referentes antropológicos y sociológicos, tanto lecturas como conversaciones, permiten alimentar una necesidad por tratar de entender,  desenmarañar  y expresar diferentes perspectivas que encuentro o me encuentran.</p>

			<dl class="comentario" *ngFor="let comentar of ficha.comentario">
				<dt >{{'comentarios' | uppercase }}  </dt>
				<dt >{{comentar.estrellas}} {{'Estrellas'}}</dt>
				<dt>{{comentar.opinion}} </dt>
				<dt>{{'--'}}{{comentar.autor}} {{comentar.fecha | date }}</dt>

			</dl>  

			


		</div>


	</div>
	<p>{{ comentarioform.value | json }} {{ comentarioform.status | json }}</p>
	<form [formGroup]="comentarioform"  (ngSubmit)="onSubmit()">
		<div class="form-row"> 
			<div class="form-group col-sm-6 mr-2">
				<label for="autor">Nombre</label>

				<input type="text" class="form-control" formControlName = "autor" required id="autor" placeholder="Ingrese su nombre" minlength="4" >
				<div *ngIf="autor.invalid && (autor.dirty || autor.touched)"
					class="alert alert-primary">

					<div *ngIf=" autor.errors.required">
						Name is required.
					</div>
					<div *ngIf="autor.errors.minlength">
						Name must be at least 4 characters long.
					</div>
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label for="estrellas">Calificación</label> 

				<mat-slider input type="range"  class="form-control rating" min="0" max="5"  tickInterval="1" thumbLabel formControlName = "estrellas" required id="estrellas" placeholder="Ingrese su Calificación" > </mat-slider>

				<div *ngIf="estrellas.invalid && (estrellas.dirty || estrellas.touched)"
					class="alert alert-primary">

					<div *ngIf=" estrellas.errors.required">
						Evaluation is required.
					</div>
				 </div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6">
				<label for="opinion">Comentario</label>

				<textarea input type="text" class="form-control" formControlName = "opinion" id="opinion" placeholder="Ingrese su comentario" required minlength="4"> </textarea>
				<div *ngIf="opinion.invalid && (opinion.dirty || opinion.touched)"
					class="alert alert-primary">

					<div *ngIf=" opinion.errors.required">
						Opinion is required.
					</div>
					<div *ngIf="opinion.errors.minlength">
						Opinion must be at least 4 characters long.
					</div>
				</div> 
			</div>
		</div>

		<button type="submit" class="btn btn-dark" [disabled]="!comentarioform.valid" data-toggle="popover" data-placement="top" title="Hospedarte solo en lo mejor" data-content="Buscamos los mejores precios del mercadao para ti">Enviar</button>
	</form>
	<div class="text-center mt-3">
		<a  class="btn btn-primary " (click)="goBack()">BACK</a>
	</div>

</div>
