             <!-- Modal Header -->
             <p> {{ user | json }}</p>
             
             <div class="container">

               <form novalidate  (ngSubmit)="onSubmit()" #loginForm="ngForm">

                  <div id="myModal"  role="dialog">
                     <div class="modal-dialog">
                         <!-- Modal content-->
                         <div class="modal-content">
                             <div class=" modal-header ">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class=  "modal-header  ">

                             <h4 class="modal-title  ms-auto ">Modal Header</h4>

                         </div>


                         <div class="modal-body">
                            <div class="form-group">
                              <input type="text" placeholder="Username" class="form-control" id="user"
                              [(ngModel)]="user.username" name="username" required minlength="4" #username= "ngModel">
                              <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                                <div *ngIf="username.errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf="username.errors.minlength">
                                    Name must be at least 4 characters long.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                          <input type="text" placeholder="Password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required minlength="4" #password= "ngModel">
                          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                            <div *ngIf="password.errors.required">
                                Name is required.
                            </div>
                            <div *ngIf="password.errors.minlength">
                                Name must be at least 4 characters long.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default" data-dismiss="modal" [disabled]="!loginForm.form.valid">Login</button>
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
           </div>
       </div>
   </div>
</form>
</div>    
