/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body{
			font-family: Helvetica, sans-serif;
			background-color: rgb(112,137,137, 0.8)
		}

h1 {
			font-family: Playfair Display;
			padding-bottom: 10px;
		}

		