.row-header {
		margin: 0px auto;
		padding: 0px 0px; }

		.row-content {
			margin: 0px auto;
			padding: 50px 0px;
			border-bottom: 1px ridge;
			min-height: 400px; }		
		a.navbar-brand  {
			font-family: Playfair Display; 
			font-style: oblique;

		}
		a.nav-link {

			text-shadow: 2px 2px 5px #ffffff;
			margin-left: 18px;
			font-size: 16px;

		}

		

		.statement{
		color: white; 
		font-style: oblique; 
		text-shadow: 2px 2px 5px #fff;
		}

		/* Navbar links */
		
		.navbar-right{

			
			text-align: right;
			padding: 0px 0px;
			color: white;
			text-decoration: none;
			font-size: 16px;
		}

		/* Navbar links on mouse-over */
		.navbar a:hover {
			background-color: green ;
		}
