      <!-- <div class="d-flex bd-highlight row-header "> -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
          <div class="container-fluid ">
           <div class="p-2 bd-highlight">
              <a class="navbar-brand me-4" style="color: #ffd700;"  routerLink="/home"  >Ronald Estrada</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>

            <div class=" collapse navbar-collapse  " id="navbarNavDropdown">
              <div class=" p-2 flex-grow-1 bd-highlight">
                <ul class="navbar-nav">
                  <li class="nav-item"> <a class="nav-link" aria-current="page" routerLink="/home"  routerLinkActive="active">Home </a> </li>

                  <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Works
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" routerLink="/portada"  routerLinkActive="active">Photography</a></li>
                      <li><a class="dropdown-item" routerLink="/video"  routerLinkActive="active">VideoArt</a></li>

                    </ul>
                  </li>
                  <li class="nav-item active "><a class="nav-link" routerLink="/statement"  routerLinkActive="active">Statement</a></li>
                  <li class="nav-item active "><a class="nav-link" routerLink="/contact"  routerLinkActive="active">Contact</a></li>
                </ul>
              </div> 
             

                <ul class=" nav navbar-right ">
                  <form class="d-flex mr-1">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success  me-4" type="submit">Search</button>
                  </form>

                  <li>  <a> <span class=" fa fa-fw fa-user  me-4 " (click)="openLoginForm()"> </span></a></li>
                  <li> <a><span class=" fas fa-shopping-cart "></span> Cart</a></li>

                </ul>  
                
             </div>
           </div> 
         </nav> 
