<div class="container">
	
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb mt-5">
			<li class=" breadcrumb-item   " aria-current="page"><a class="bi bi-house-door-fill" routerLink="/home" routerLinkActive="active">Home</a></li>
			<li class="breadcrumb-item  active" aria-current="page">Contact</li>
		</ol>
	</nav>


	<h1 class="statement">Contacto</h1>
	<div class="p-3"> </div>
	
	<form [formGroup]="contactform" (ngSubmit)="onSubmit()">
		<div class="form-row"> 
			<div class="form-group col-sm-6 mb-3">
				<label for="Nombre">Nombre</label> 
				
				<input type="text" class="form-control" formControlName = "Nombre"  id="Nombre" placeholder="Ingrese su nombre"  minlength="4"> 
				<div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)"
					class="alert alert-primary">

					<div *ngIf=" Nombre.errors.required">
						Name is required.
					</div>
					<div *ngIf="Nombre.errors.minlength">
						Name must be at least 4 characters long.
					</div>
				</div>
			</div>
			 
			<div class="form-group col-sm-6 mb-3">
				<label for="Apellido">Apellido</label>
				
				<input type="text" class="form-control" formControlName = "Apellido" id="Apellido" placeholder="Ingrese su apellido"  minlength="4">

				<div *ngIf="Apellido.invalid && (Apellido.dirty || Apellido.touched)"
					class="alert alert-primary">

					<div *ngIf="Apellido.errors.required">
						LastName is required.
					</div>
					<div *ngIf="Apellido.errors.minlength">
						Name must be at least 4 characters long.
					</div>
				</div>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-sm-6 mb-3">
				<label for="Email">E-mail</label>

				<input type="text" class="form-control" formControlName = "Email" id="Email" placeholder="Ingrese su email" email required >   
				<div *ngIf="Email.invalid && (Email.dirty || Email.touched)"
					class="alert alert-primary">

					<div *ngIf="Email.errors.required">
						Email is required.
					</div>
				</div>
			</div>
		</div>
		<div class="form-group mt-5">
			<label for="Comentario">Mensaje</label>
			<textarea input type="text" required class="form-control" id="Comentario" formControlName = "Comentario" rows="10" minlength="3">  </textarea  >
				<div *ngIf="Comentario.invalid && (Comentario.dirty || Comentario.touched)"
					class="alert alert-primary">

					<div *ngIf="Comentario.errors.required">
						comment is required.
					</div>
					<div *ngIf="Comentario.errors.minlength">
						Name must be at least 4 characters long.
					</div>
				</div>
		</div>

		<div class="form-group">

			<div class="form-check mt-2">
				<input class="form-check-input" type="checkbox" id="gridCheck">
				<label class="form-check-label"style="color: white" for="gridCheck"> Quiero que me contacten
				</label>
			</div>
		</div>

		<button type="submit" class="btn btn-dark mt-4" [disabled]="!contactform.valid" data-toggle="popover" data-placement="top" title="Hospedarte solo en lo mejor" data-content="Buscamos los mejores precios del mercadao para ti">Enviar</button> 
	</form>
          <p>
  Form Status: {{ contactform.status }} 
</p>
</div>
